<nav class="navbar">Score: {{aciertos}}</nav>

<div *ngIf="!finDeJuego">
    <app-pregunta [titulo]="preguntaActual.pregunta"></app-pregunta>
    
    <div class="row">
        <app-respuesta
            class="col-6"
            *ngFor="let respuesta of preguntaActual.respuestas; let i = index" 
            (seleccion)="marcarRespuesta($event)"
            [color]="colores[i]"
            [opcion]="i"
            [texto]="respuesta">
        </app-respuesta>
    </div>
</div>

<div class="jumbotron" *ngIf="finDeJuego">
    <h1>Game Over!</h1>
</div>
